###################################
#
#  Meraculous params file
#
###################################


#######################################
#
# Basic parameters
#
########################################



# Describe the libraries ( one line per library )
# lib_seq [ wildcard ][ prefix ][ insAvg ][ insSdev ][ avgReadLen ][ hasInnieArtifact ][ isRevComped ][ useForContigging ][ onoSetId ][ useForGapClosing ][ 5pWiggleRoom ][3pWiggleRoom]
#

lib_seq	INPUTREAD1,INPUTREAD2  ILL  300  50   90 0 0	  1 1 1  0 0


genome_size   YOURGENOMESIZE

diploid_mode	0

mer_size 41

min_depth_cutoff	7

num_prefix_blocks 4


#################################################
#
# Advanced parameters 
#
#################################################

no_read_validation 0

use_cluster 0

local_num_procs       THREADS

local_max_retries		  0



