#### Input
[General]
input_fofn=input.fofn
input_type=raw
pa_DBdust_option=
pa_fasta_filter_option=streamed-median
target=assembly
skip_checks=False
LA4Falcon_preload=false

#### Data Partitioning
pa_DBsplit_option=-x500 -s400
ovlp_DBsplit_option=-s400

#### Repeat Masking
pa_HPCTANmask_option=
#no-op repmask param set
pa_REPmask_code=0,300;0,300;0,300

####Pre-assembly
# adjust to your genome size
genome_size = YOURGENOMESIZE
seed_coverage = 40
length_cutoff = -1  
pa_HPCdaligner_option=-v -B128 -M24
pa_daligner_option= -k18 -e0.80 -l1000 -h256 -w8 -s100
falcon_sense_option=--output-multi --min-idt 0.70 --min-cov 4 --max-n-read 200 --n-core 20
falcon_greedy=False
falcon_sense_greedy=False

####Pread overlapping
ovlp_HPCdaligner_option=-v -B128 -M24 
ovlp_daligner_option= -k24 -e.92 -l1800 -h1024 -s100

####Final Assembly
length_cutoff_pr=1000
overlap_filtering_setting=--max-diff 100 --max-cov 100 --min-cov 2 --n-core 20
fc_ovlp_to_graph_option=

[job.defaults]
job_type=local
pwatcher_type=blocking
MB=20000
NPROC=4
njobs=5
submit= /bin/bash -c ${CMD} 1> ${STDOUT_FILE} 2> ${STDERR_FILE}

[job.step.da]
MB=20000
NPROC=4
njobs=5
[job.step.la]
MB=20000
NPROC=4
njobs=5
[job.step.cns]
MB=20000
NPROC=4
njobs=5
[job.step.pda]
MB=20000
NPROC=4
njobs=5
[job.step.pla]
MB=20000
NPROC=4
njobs=5
[job.step.asm]
MB=100000
NPROC=20
njobs=1
